@import "./../../../../assets/styles/variables.scss";
.error {
  position: fixed;
  z-index: 990;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  &__card {
    position: relative;
    background: #fff;
    padding: 40px 60px;
    text-align: center;
    max-width: 400px;
    margin: 0 20px;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    width: 20px;
    top: 16px;
    right: 16px;
  }
  &__message {
    color: $alert_red;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
}
